@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pixelated-photo-container {
  position: relative;
}

.pixelated-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em; 
  color: rgb(26, 125, 143);
  z-index: 1; 
  font-family: 'Pacifico', cursive; 
}

.pixelated-photo {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: filter 0.5s ease-in-out;
  z-index: 0;
}
